@charset "utf-8";

/* ------------------------------------ wrapper ------------------------------------*/
#outer {
    width: 500px;
    padding: 30px;
    margin: 0 auto;
    background: #CCC;
    text-align: center;
    position: relative;
}

#outer h1 {
    font-size: 25px;
}